<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Lite Yun - Authors</title>
    <!-- Bootstrap core CSS-->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">Lite Yun</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="/">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" href="/processes.html">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Processes</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" href="/path">
                    <i class="fa fa-fw fa-tree"></i>
                    <span class="nav-link-text">Dir Tree</span>
                </a>
            </li>
            {{/*<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">*/}}
                {{/*<a class="nav-link" href="/vnc.html">*/}}
                    {{/*<i class="fa fa-fw fa-terminal"></i>*/}}
                    {{/*<span class="nav-link-text">VNC Terminal</span>*/}}
                {{/*</a>*/}}
            {{/*</li>*/}}
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-wrench"></i>
                    <span class="nav-link-text">About</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseComponents">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/authors">Authors</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>


<style>
    .container-fluid {
        min-height: calc(100vh - 56px - 56px - 1rem);
    }

    .content-wrapper .row iframe {
        width: 100%;
        min-height: calc(100vh - 56px - 56px - 1rem - 4.5rem);
    }

    #hj {
        width: 100px;
        height: 100px;
        background-image: url("/static/images/hj.png");
        background-size: cover;
        display: block;
        border-radius: 50%;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border: 3px solid #B3EE3A;
    }

    #g {
        width: 100px;
        height: 100px;
        background-image: url("/static/images/g.png");
        background-size: cover;
        display: block;
        border-radius: 50%;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border: 3px solid #4876FF;
    }

    .card-body div {
        text-align: center;
    }

    .icons {
        margin: 0 auto;
    }

    .cards {
        max-width: 25rem;
    }

</style>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Authors</li>
        </ol>
        <div class="row">
            <div class="col-lg-4 cards">
                <!-- Example Bar Chart Card-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-user-circle"></i>
                    </div>
                    <div class="card-body">
                        <div id="hj" class="icons"></div>
                        <hr>
                        <div style="font-size: 30px;font-weight: bolder">Yunwei Zhang</div>
                        <br><br>
                        <div style="line-height: 44px;font-size: 18px;">
                            Student ID: 151310215<br>
                            Major: CST<br>
                            Tel: 13122161202<br>
                            E-mail: 735369269@qq.com<br>
                            QQ: 735369269
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 cards">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-user-o"></i>
                    </div>
                    <div class="card-body">
                        <div id="g" class="icons"></div>
                        <hr>
                        <div style="font-size: 30px;font-weight: bolder">Xiaojun Gu</div>
                        <br><br>
                        <div style="line-height: 44px;font-size: 18px;">
                            Student ID: 151310216<br>
                            Major: CSIS<br>
                            Tel: 13651648690<br>
                            E-mail: chenny_gu@foxmail.com<br>
                            QQ: 841233696
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Lite Yun 2018</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="/login" id="logout_btn">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/js.cookie-2.2.0.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/static/js/sb-admin.min.js"></script>

<script>
    $("#logout_btn").click(function () {
        Cookies.remove('session');
    });
</script>
</body>

</html>
