<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Lite Yun - Processes</title>
    <!-- Bootstrap core CSS-->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin.css" rel="stylesheet">
    <style>
        #dataTable .create_time {
            display: none;
        }
    </style>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<div class="modal fade" id="accessdeny" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Error
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                Access denied.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> OK
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="succeed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="">
                    Info
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                Succeed.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ok
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Lite Yun</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="index.html">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" href="processes.html">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Processes</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" href="/path">
                    <i class="fa fa-fw fa-tree"></i>
                    <span class="nav-link-text">Dir Tree</span>
                </a>
            </li>
            {{/*<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">*/}}
                {{/*<a class="nav-link" href="/vnc.html">*/}}
                    {{/*<i class="fa fa-fw fa-terminal"></i>*/}}
                    {{/*<span class="nav-link-text">VNC Terminal</span>*/}}
                {{/*</a>*/}}
            {{/*</li>*/}}
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-wrench"></i>
                    <span class="nav-link-text">About</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseComponents">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/authors">Authors</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>


<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Processes</li>
        </ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Processes
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>PID</th>
                            <th>Name</th>
                            <th>Owner</th>
                            <th>Command</th>
                            <th>CPU usage(%)</th>
                            <th>Memory usage(%)</th>
                            <th>Status</th>
                            <th>Suspend</th>
                            <th>Terminate</th>
                            <th>Kill</th>
                            <th class="create_time">Create Time</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>PID</th>
                            <th>Name</th>
                            <th>Owner</th>
                            <th>Command</th>
                            <th>CPU usage(%)</th>
                            <th>Memory usage(%)</th>
                            <th>Status</th>
                            <th>Suspend</th>
                            <th>Terminate</th>
                            <th>Kill</th>
                            <th class="create_time">Create Time</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted update-time">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Lite Yun 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login?next=%2F" id="logout_btn">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/js.cookie-2.2.0.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="/static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="/static/vendor/datatables/fnAddTr.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <!--<script src="/static/js/sb-admin-datatables.min.js"></script>-->


    <script>
        var ws = new WebSocket("ws://" + location.host + "/processesInfo");

        // var ws = new WebSocket("ws://" + location.host + "/processesInfo");

        ws.onmessage = function (e) {
            if (e.data === "operation not permitted") {
                $('#accessdeny').modal({
                    keyboard: true
                });
                return;
            } else {
                if (e.data.split(" ")[1] === "succeed") {
                    $('#succeed').modal({
                        keyboard: true
                    });
                    return;
                }
                var stat = e.data.split(" ")[1];
                var pid = e.data.split(" ")[0];
                if (stat === "succeed") {

                    var tr = $("#dataTable tbody tr .pid" + pid).parent();
                    var btn = tr.children(".btn:first");
                    if (btn.html() === "Suspend") {
                        btn.html("Resume");
                        btn.attr("class", "btn btn-success");
                    } else {
                        btn.html("Resume");
                        btn.attr("class", "btn btn-info");
                    }

                    $('#succeed').modal({
                        keyboard: true
                    });
                    return;
                }
            }


            var callback = $.parseJSON(e.data);
            var data = callback.ProcessInfo;
            //alert(callback.ProcessInfo[0].name)
            // $("#dataTable tbody").html("");

            var table = $("#dataTable").dataTable();
            table.fnClearTable();
            for (var i = 0; i < data.length; i++) {
                var cl = "btn-success", word = "Suspend";
                if (data[i].status == "Stop") {
                    cl = "btn-info";
                    word = "Resume";
                }

                var tr = $("<tr><td class='pid" + data[i].pid + "'>" + data[i].pid + "</td><td>" + data[i].name + "</td><td>" + data[i].username + "</td>" +
                    "<td>" + data[i].exe + "</td><td>" + parseFloat(data[i].cpu_percent).toFixed(2) + "</td><td>" + parseFloat(data[i].memory_percent).toFixed(2) + "</td>" +
                    "<td class='status'>" + data[i].status + "</td><td><button class='btn " + cl + "'>" + word + "</button></td>" +
                    "<td><button class='btn btn-warning'>Terminate</button></td><td><button class='btn btn-danger'>Kill</button></td>" +
                    "<td class='create_time'>" + data[i].create_time + "</td></tr>");

                table.fnAddTr(tr[0]);

            }
            $('#dataTable').DataTable();
            var date = Date();
            $(".update-time").each(function () {
                $(this).html("Updated " + date);
            })
        };


        function Click(object, option) {
            if (option != 1 && option != 2 && option != 3 && option != 4) {
                return -1;
            }

            var tr = $(object).parent().parent().children();
            var pid = tr.eq(0).html();
            var time = tr.eq(tr.length - 1).html();
            // $.Ajax({
            //     type:"post",
            //     url:"",
            //     data:{info:pid+" "+option+" "+time},
            //     success:function(){}
            // })
            ws.send(pid + " " + option + " " + time);
        }

        $("body").on("click", ".btn-success", function () {
            Click(this, 1);
        });
        $("body").on("click", ".btn-info", function () {
            Click(this, 2);
        });
        $("body").on("click", ".btn-warning", function () {
            Click(this, 3);
        });
        $("body").on("click", ".btn-danger", function () {
            Click(this, 4);
        });

        $("#logout_btn").click(function () {
            Cookies.remove('session');
        });
    </script>

</div>
</body>


</html>
